body {
    font-family: Open Sans, sans-serif;
}

.red { background-color: #D12123 !important; }
.yellow { background-color: #F9C213 !important}
.green { background-color: #9DBF2B !important}
.blue { background-color: #cceeff; }
.null { background-color: #f2f2f2; }
.black { background-color: #cccccc; }

.navbar { 
    color: white;
 }

 .navbar-brand {
    display: flex;
    align-items: center; /* Aligns items vertically */
    gap: 0.5rem; /* Adds space between logo and title */
}

.navbar-brand img {
    height: 60px; /* Adjust based on your preference */
}

.navbar-brand h3 {
    margin-bottom: 0; /* Removes default margin from h3 */
    color: white; /* Ensures the title is white */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #0093d0;;
}
.header-bg {
    background-color: #00264B !important;
}

.footer {
    background-color: #00264B;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

table#myTable thead th {
    background-color: #00264B; /* Your desired background color */
    color: white; /* Your desired text color */
}

table.table td {
    white-space: normal;
    word-wrap: break-word;
}

/* Optionally, you can set max width for specific columns */
table.table td:nth-child(4),  /* Sources column */
table.table td:nth-child(5) { /* Additional Notes column */
    max-width: 300px;
}


/* Searchbuilder */
/* General styling for SearchBuilder */
.dtsb-searchBuilder {
    font-family: Open Sans, sans-serif;
}

/* Styling for the SearchBuilder container */
.dtsb-searchBuilder {
    border: 1px solid #cccccc; /* Matching the black background color */
    padding: 10px;
    border-radius: 5px;
}

/* Styling for the SearchBuilder title row */
.dtsb-titleRow {
    background-color: #00264B; /* Matching the header-bg background color */
    color: white; /* Ensuring the title text is white */
    padding: 5px;
    border-radius: 3px;
}

/* Styling for SearchBuilder logic dropdown */
.dtsb-searchBuilder .dtsb-logic {

    border: 1px solid #00264B; /* Matching the header-bg background color */
    color: #00264B; /* Matching the header-bg text color */
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data {
    border-color: #00264B;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition {
    border-color: #00264B;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value {
    border-color: #00264B;
}

div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll {
    color: #00264B;
    background-color: white;
}

.btn.btn-secondary.buttons-html5 {
    background-color:#0093d0;
}

.btn.btn-secondary.buttons-print {
    background-color:#0093d0;
}