body {
    font-family: Open Sans, sans-serif;
}

.red { background-color: #D12123 !important; }
.yellow { background-color: #F9C213 !important}
.green { background-color: #9DBF2B !important}

.navbar { 
    background-color: #1EBDFF;
    color: white;
 }

 .navbar-brand {
    display: flex;
    align-items: center; /* Aligns items vertically */
    gap: 0.5rem; /* Adds space between logo and title */
}

.navbar-brand img {
    height: 30px; /* Adjust based on your preference */
}

.navbar-brand h3 {
    margin-bottom: 0; /* Removes default margin from h3 */
    color: white; /* Ensures the title is white */
}