{% extends 'base.html' %}

{% block content %}
<style>
    .status-red { background-color: #ffcccc; }
    .status-yellow { background-color: #ffffcc; }
    .status-green { background-color: #ccffcc; }
    .status-blue { background-color: #cceeff; }
    .status-black { background-color: #cccccc; }
    .status-null { background-color: #f2f2f2; }
    .header-row { background-color: #343a40; color: #ffffff; }
</style>

<h2 class="fw-bold pb-3">All Reforms</h2>

<table id="myTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>SLC ID</th>
            <th>Reform Name</th>
            <th>Reform Area</th>
            <th>Description</th>
            <th>Criteria</th>
        </tr>   
    </thead>
    <tbody>
        {% for reform in reforms %}
        <tr class="status-{{ reform.status }}">
            <td><a href="{% url 'reform_detail' slcid=reform.slcid %}">{{ reform.slcid }}</a></td>
            <td>{{ reform.name }}</td>
            <td>{{ reform.reform_area.name }}</td> <!-- Updated for clarity -->
            <td>{{ reform.description|default:"No Description Provided" | truncatewords:20 }}</td> <!-- Consider truncation for length -->
            <td>{{ reform.criteria|default:"No Criteria Provided" }}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

