{% extends 'base.html' %}

{% block content %}
<style>
    .status-red { background-color: #ffcccc; }
    .status-yellow { background-color: #ffffcc; }
    .status-green { background-color: #ccffcc; }
    .status-blue { background-color: #cceeff; }
    .status-black { background-color: #cccccc; }
    .status-null { background-color: #f2f2f2; }
    .header-row { background-color: #343a40; color: #ffffff; }
</style>

<h2>Stoplight Chart</h2>


<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>SLC ID</th>
            <th>Reform Name</th>
            <th>Reform Area</th>
            <th>Description</th>
            <th>Criteria</th>
        </tr>   
    </thead>
    <tbody>
        {% for reform in reforms %}
        <tr class="status-{{ reform.status }}">
            <td>{{ reform.slcid }}</td>
            <td>{{ reform.name }}</td>
            <td>{{ reform.reform_area.name }}</td> <!-- Updated for clarity -->
            <td>{{ reform.description | truncatewords:20 }}</td> <!-- Consider truncation for length -->
            <td>{{ reform.criteria }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

