{% extends 'base.html' %}

{% block content %}
<h2 class="fw-bold pb-3">All Reforms</h2>

<div class="btn-group mb-3">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Select Data Version
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'home' 'old' %}">Old Data</a></li>
        <li><a class="dropdown-item" href="{% url 'home' 'new' %}">New Data</a></li>
    </ul>
</div>

<table id="myTable" class="table table-striped" style="width:100%">
    <thead style="background-color: #00264B;">
        <tr class="header-row">
            <th>SLC ID</th>
            <th>Reform Name</th>
            <th>Reform Area</th>
            <th>Description</th>
            <th>Criteria</th>
        </tr>   
    </thead>
    <tbody>
        {% for reform in reforms %}
        <tr class="status-{{ reform.status }}">
            <td><a href="{% url 'reform_detail' slcid=reform.slcid %}">{{ reform.slcid }}</a></td>
            <td>{{ reform.name }}</td>
            <td>{{ reform.reform_area.name }}</td> <!-- Updated for clarity -->
            <td>{{ reform.description|default:"No Description Provided" | truncatewords:20 }}</td> <!-- Consider truncation for length -->
            <td>{{ reform.criteria|default:"No Criteria Provided" }}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
