{% extends 'base.html' %}

{% block content %}
<style>
    .red { background-color: #D12123; }
    .yellow { background-color: #F9C213; }
    .green { background-color: #9DBF2B; }
    .blue { background-color: #cceeff; }
    .black { background-color: #cccccc; }
    .null { background-color: #f2f2f2; }
    .header-row { background-color: #343a40; color: #ffffff; }
</style>

<h2>Reform Statuses for {{ state.name }}</h2>

<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>SLC ID</th>
            <th>Reform Name</th>
            <th>Reform Area</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for reform_status in reform_statuses %}
        <tr>
            <td>{{ reform_status.reform.slcid }}</td>
            <td>{{ reform_status.reform.name }}</td>
            <td>{{ reform_status.reform.reform_area.name }}</td>
            <td class="{{ reform_status.get_status_display|lower }}">{{ reform_status.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
